header {
  background: #f8f8f8;
  border-bottom: 1px solid #efefef;
}


#notificacionWrapper {
  position: relative;
  margin-right: 20px;
}
#notificacionWrapper .campana {
  position: absolute;
  color: #000 !important;
  font-size: 20px;
}
#notificacionWrapper .number {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background: rgb(231, 10, 10);
  color: white;
  text-align: center;
  top: 2px;
  left: 7px;
  position: absolute;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

.menu-items * {
  transition: unset;
}
.dropbtn {
    margin-top: 1px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: unset;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    width:100%;
    z-index: 1;
}
.dropdown-content a {
    background: rgb(243, 243, 243);
    color: black;
    padding: 3px 0;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 0 0 50px 50px;
}
.dropdown-content a:hover {background-color: #333; color:#fff;opacity:1;}
.dropbtn:hover {
  color:rgb(255, 255, 255);
  background: #000;
}
.dropdown:hover .dropdown-content {
  display: block;
}








/* MIS CLASES */
.cursor-pointer {cursor: pointer;}
.no-underline {text-decoration: none !important;}
.remove-hover:hover {all: unset;}